@{
    ViewBag.Title = "Dashboard";
}
@*<script src="~/Content/modern-admin/vendors/js/charts/chart.min.js"></script>*@
<script src="~/Content/modern-admin/js/scripts/charts/chartjs/bar/column.js"></script>
<!--  statistic -->
<div class="row">



    @*@{Html.RenderAction("CarsCount", "Home");}

    @{Html.RenderAction("MachinesCount", "Home");}
    @{Html.RenderAction("CarsDeliveredCount", "Home");}
    @{Html.RenderAction("MachinesDeliveredCount", "Home");}*@
</div>
<!-- Column Chart -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                @*<h4 class="card-title">الوقود المنصرف</h4>*@
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">

                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>

                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <canvas id="column-chart" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/  statistic -->
