<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="PayrollEntities" connectionString="metadata=res://*/Entites.Payroll.PayrollEntites.csdl|res://*/Entites.Payroll.PayrollEntites.ssdl|res://*/Entites.Payroll.PayrollEntites.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-QOBBV73\SQLEXPRESS;initial catalog=Payroll;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TajDBEntities" connectionString="metadata=res://*/Entites.TajDB.TajDBEntites.csdl|res://*/Entites.TajDB.TajDBEntites.ssdl|res://*/Entites.TajDB.TajDBEntites.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-QOBBV73\SQLEXPRESS;initial catalog=TajDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
    </dependentAssembly>
  </assemblyBinding>
</configuration>